<div id="wrapper">


    <!-- header -->
    <div id="main_header" class="header-transparent" uk-sticky="top:10; cls-inactive :header-transparent">
        <header>

            <!-- Logo-->
            <i class="header-traiger uil-bars" uk-toggle="target: #wrapper ; cls: mobile-active" (click)="goToTheHome()"></i>


            <div class="h5 uk-hidden@m mr-3 mb-0"> Date Web</div>
            <!-- form search-->
            <div class="head_search uk-visible@m">
                <form>
                    <div class="head_search_cont">
                        <input value="" type="text" class="form-control"
                               placeholder="Search for Customers, Products, Files and more.." autocomplete="off">
                        <i class="s_icon uil-search-alt"></i>
                    </div>

                </form>
            </div>

            <!-- user icons -->
            <div class="head_user">


                <!-- browse apps  -->
                <a href="#" class="opts_icon uk-visible@s"> <i class="uil-shop"></i></a>
                <a href="#" class="opts_icon uk-visible@s"> <i class="uil-shopping-basket"></i></a>
                <a href="#" class="opts_icon"> <i class="uil-envelope-alt"></i> <span>4</span> </a>

                <!-- browse apps dropdown -->
                <div uk-dropdown="pos: top;mode:click ; animation: uk-animation-scale-up" class="icon-browse">

                    <!--          <a href="#" class="icon-menu-item"> <i class="uil-shop"></i> Dashboard </a>-->
                    <!--          <a href="#" class="icon-menu-item"> <i class="uil-envelope-alt"></i> Messages </a>-->
                    <!--          <a href="#" class="icon-menu-item"> <i class="uil-bookmark"></i> Bookmark </a>-->
                    <!--          <a href="#" class="icon-menu-item"> <i class="uil-shopping-basket"></i> Cart </a>-->
                    <!--          <a href="#" class="icon-menu-item"> <i class="uil-shield-check"></i> Privacy </a>-->
                    <!--          <a href="#" class="icon-menu-item"> <i class="uil-bolt-alt"></i> Upgrade </a>-->
                    <!--          <a href="#" class="more-app"> More Features</a>-->
                </div>


                <!-- Message  notificiation dropdown -->


                <!-- Message  notificiation dropdown -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications large">

                    <!-- notivication header -->
                    <div class="dropdown-notifications-headline">
                        <h4>Messages</h4>
                        <a href="#">
                            <i class="icon-feather-settings" uk-tooltip="title: Message settings ; pos: left"></i>
                        </a>
                    </div>

                    <!-- notification contents -->
                    <div class="dropdown-notifications-content" data-simplebar>

                        <!-- notiviation list -->
                        <ul>
                            <li class="notifications-not-read">
                                <a href="#">
                                        <span class="notification-avatar">
                                            <img src="../../../assets/images/team/team-2.jpg" alt="">
                                        </span>
                                    <div class="notification-text notification-msg-text">
                                        <strong>Alia Joseph</strong>
                                        <p>Okay thanks.. I will be waiting for your answer</p>
                                        <span class="time-ago"> 2 hours ago </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-avatar">
                                            <img src="../../../assets/images/team/team-3.jpg" alt="">
                                        </span>
                                    <div class="notification-text notification-msg-text">
                                        <strong>Stella Johnson</strong>
                                        <p> Alia Joseph just joined Messenger! say Hi. </p>
                                        <span class="time-ago"> 7 hours ago </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-avatar">
                                            <img src="../../../assets/images/team/team-1.jpg" alt="">
                                        </span>
                                    <div class="notification-text notification-msg-text">
                                        <strong>Alex Dolgove</strong>
                                        <p> Alex will explain you how to keep the structure ....</p>
                                        <span class="time-ago"> 19 hours ago </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-avatar">
                                            <img src="../../../assets/images/team/team-4.jpg" alt="">
                                        </span>
                                    <div class="notification-text notification-msg-text">
                                        <strong>Adrian Mohani</strong>
                                        <p> Okay thanks.. I will be waiting for your answer </p>
                                        <span class="time-ago"> Yesterday </span>
                                    </div>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="dropdown-notifications-footer">
                        <a href="#"> sell all <i class="icon-line-awesome-long-arrow-right"></i> </a>
                    </div>


                </div>


                <!-- notificiation icon  -->
                <a href="#" class="opts_icon"> <i class="uil-bell"></i> <span>3</span> </a>

                <!-- notificiation dropdown -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications">

                    <!-- notivication header -->
                    <div class="dropdown-notifications-headline">
                        <h4>Notifications </h4>
                        <a href="#">
                            <i class="icon-feather-settings"
                               uk-tooltip="title: Notifications settings ; pos: left"></i>
                        </a>
                    </div>

                    <!-- notification contents -->
                    <div class="dropdown-notifications-content" data-simplebar>

                        <!-- notiviation list -->
                        <ul>
                            <li class="notifications-not-read">
                                <a href="#">
                                        <span class="notification-icon bg-soft-danger">
                                            <i class="uil-shopping-basket text-danger"></i></span>
                                    <span class="notification-text"> New Order Recieved
                                            <br> <span class="time-ago"> 9 hours ago </span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-icon bg-soft-success">
                                            <i class="uil-user-plus text-success"></i></span>
                                    <span class="notification-text"> New customer registered
                                            <br> <span class="time-ago"> 19 hours ago </span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-icon bg-soft-danger">
                                            <i class="icon-feather-database text-danger"></i></span>
                                    <span class="notification-text">  Server Limit Reached!
                                            <br> <span class="time-ago"> 12 hours ago </span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-icon bg-soft-primary">
                                            <i class="uil-apps text-primary"></i></span>
                                    <span class="notification-text">
                                            <strong>10+</strong>  Apps ready for update
                                            <br> <span class="time-ago"> Yesterday </span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-icon bg-soft-success">
                                            <i class="uil-user-plus text-success"></i></span>
                                    <span class="notification-text"> New customer registered
                                            <br> <span class="time-ago"> Yesterday </span>
                                        </span>
                                </a>
                            </li>
                        </ul>

                    </div>


                </div>


                <!-- profile -image -->
                <a class="opts_account"> <img src="{{account?.avatar}}" alt=""></a>

                <!-- profile dropdown-->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications small">

                    <!-- User Name / Avatar -->
                    <a href="#">

                        <div class="dropdown-user-details">
                            <div class="dropdown-user-avatar">
                                <a class="opts_account">
                                    <img src="{{account?.avatar}}" alt=""></a>
                            </div>
                            <div class="dropdown-user-name">
                                {{account?.username}} <span> {{account?.wallet}} <i
                                    class="icon-feather-dollar-sign"></i> </span>
                            </div>
                        </div>

                    </a>
                    <!-- User menu -->

                    <ul class="dropdown-user-menu">
                        <li><a class="btn-warning" *ngIf="statusProvider==3"> <i class="uil-user"></i> Wait admin
                            accept!</a></li>
                        <li><a class="btn-success" *ngIf="statusProvider==1"> <i class="uil-user"></i> Ready</a></li>
                        <li><a class="btn-danger" *ngIf="statusProvider==2"> <i class="uil-user"></i> Busy</a></li>
                        <li><a (click)="goToProfile()"> <i class="uil-user"></i> My Profile </a></li>
                        <li><a> <i class="uil-invoice"></i>My Bill</a></li>
                        <li><a (click)="goToEditProfile()"> <i class="uil-edit"></i> Edit Profile </a></li>
                        <li><a (click)="goToProviderSetting()"> <i class="uil-cog"></i> Provider Settings</a></li>
                        <li class="menu-divider"></li>
                        <li><a (click)="logout()"> <i class="icon-feather-log-out"></i> Sing Out</a>
                        </li>
                    </ul>
                </div>

            </div>

        </header>


    </div>


    <div class="box-gradient-home"></div>

    <!-- content -->
    <div class="page-content">

        <div class="profile">
            <div class="profile-cover">

                <!-- profile cover -->
                <img src="../../../assets/images/team/user-cover.jpg" alt="">

            </div>

            <div class="page-content-inner">
                <div class="profile-details">
                    <div class="left-side">
                        <div class="profile-image">
                            <a class="opts_account">
                                <img src="{{account?.avatar}}" alt="">
                            </a>
                        </div>
                        <div class="profile-details-info">
                            <h3> {{account?.fullName}} </h3>
                        </div>
                    </div>
                    <div class="right-side uk-visible@m">
                        <div class="btn-subscribe">
                            <button class="btn btn-danger btn-sm">
                                <i class="icon-feather-user"></i> Active
                            </button>
                            <button class="btn btn-success btn-sm">
                                <i class="icon-feather-user"></i> Busy
                            </button>
                        </div>
                    </div>
                </div>

                <div class="nav-profile" k-sticky="offset:61;media : @s">
                    <nav class="responsive-tab">
                        <ul>
                            <li class="uk-active"><a class="active">Your Profile</a></li>
                        </ul>
                    </nav>
                    <form class="nav-profile-saerchbox">
                        <i class="uil-edit-alt"><span>VND/Hour</span></i>
                        <input class="uk-input" type="text" value="{{provider.price}}">
                    </form>
                </div>
            </div>


        </div>

        <div class="page-content-inner">

            <div class="row">

                <div class="col-lg-12 col-12">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h4> Edit Provider </h4>
                        </div>

                        <!--                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
                        <div class="col-lg-12 col-12">
                            <div class="card">
                                <!--                        hien 4 anh o day-->
                                <div class="card-header bg-light">
                                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
                                         uk-slider>
                                        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                                            <li>
                                                <img src="https://luv.vn/wp-content/uploads/2021/08/hinh-anh-gai-xinh-71.jpg"
                                                     alt="" style="width: 100%; height: 100%">
                                            </li>
                                            <li>
                                                <img src="https://antimatter.vn/wp-content/uploads/2022/10/hinh-anh-gai-xinh-de-thuong.jpg"
                                                     alt="" style="width: 100%; height: 100%">
                                            </li>
                                            <li>
                                                <img src="https://huyhoangblog.com/wp-content/uploads/2021/09/hinh-anh-gai-xinh-25.jpg"
                                                     alt="" style="width: 100%; height: 100%">
                                            </li>
                                            <li>
                                                <img src="https://genzrelax.com/wp-content/uploads/2022/11/anh-gai-xinh-toc-ngang-vai-2k-1.jpg"
                                                     alt="" style="width: 100%; height: 100%">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <form class="uk-child-width-1-2@s uk-grid-small p-4 uk-grid" uk-grid="">

                                </form>
                                <hr class="mb-0">
                            </div>
                            <div class="card">
                                <div class="card-header bg-light">
                                    <h4> Basic Service </h4>
                                </div>
                                <form class="uk-child-width-1-2@s uk-grid-small p-4 uk-grid" uk-grid="">
                                    <div class="uk-grid-margin" *ngFor="let service of allServicesOfProvider">
                                        <div class="form-check" *ngIf="service.statusServiceProvider==1&&service.provision.category.id==1">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   checked disabled>
                                            <label class="form-check-label">
                                                {{service.provision.name}}
                                            </label>
                                        </div>
                                    </div>
                                </form>
                                <hr class="mb-0">
                            </div>
                            <div class="card mt-4">
                                <div class="card-header bg-light">
                                    <h4> More Service </h4>
                                </div>
                                <form class="uk-child-width-1-2@s uk-grid-small p-4 uk-grid" uk-grid="">
                                    <div class="uk-first-column" >
                                        <h5 class="uk-text-bold mb-2"> Extends </h5>
                                        <div class="uk-grid-margin" *ngFor="let service of allServicesOfProvider">
                                            <div class="form-check" *ngIf="service.statusServiceProvider==1&&service.provision.category.id==2">
                                                <input class="form-check-input" type="checkbox" checked >
                                                <label class="form-check-label">
                                                    {{service.provision.name}}
                                                </label>
                                            </div>
                                            <div class="form-check" *ngIf="service.statusServiceProvider==2&&service.provision.category.id==2">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label">
                                                    {{service.provision.name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-first-column" >
                                        <h5 class="uk-text-bold mb-2"> Extends </h5>
                                        <div class="uk-grid-margin" *ngFor="let service of allServicesOfProvider">
                                            <div class="form-check" *ngIf="service.statusServiceProvider==1&&service.provision.category.id==3">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       checked >
                                                <label class="form-check-label">
                                                    {{service.provision.name}}
                                                </label>
                                            </div>
                                            <div class="form-check" *ngIf="service.statusServiceProvider==2&&service.provision.category.id==3">
                                                <input class="form-check-input" type="checkbox" value="" >
                                                <label class="form-check-label">
                                                    {{service.provision.name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <hr class="mb-0">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!-- footer
        ================================================== -->
        <div class="footer">
            <div class="uk-grid-collapse" uk-grid>
                <div class="uk-width-expand@s uk-first-column">
                    <p>© 2020 <strong>Bootstro</strong>. All Rights Reserved. </p>
                </div>
                <div class="uk-width-auto@s">
                    <nav class="footer-nav-icon">
                        <ul>
                            <li><a href="#"><i class="icon-brand-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-brand-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-brand-youtube"></i></a></li>
                            <li><a href="#"><i class="icon-brand-twitter"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


    </div>

</div>