


<div id="wrapper">


    <!-- header -->
    <div id="main_header" class="header-transparent" uk-sticky="top:10; cls-inactive :header-transparent">
        <header>

            <!-- Logo-->
            <i class="header-traiger uil-bars icon-feather-home" uk-toggle="target: #wrapper ; cls: mobile-active" (click)="goToTheHomeAdmin()">
                <img src="assets/bg-removebg-preview.png" style="width: 110px;height: 70px"></i>


            <div class="h5 uk-hidden@m mr-3 mb-0"> Bootstro </div>
            <!-- form search-->
            <div class="head_search uk-visible@m">
                <form>
                    <div class="head_search_cont">
                        <input value="" type="text" class="form-control"
                               placeholder="Search ..." autocomplete="off">
                        <i class="s_icon uil-search-alt"></i>
                    </div>
                </form>
            </div>

            <!-- user icons -->
            <div class="head_user">



                <!-- browse apps  -->
                <a href="#" class="opts_icon uk-visible@s"> <i class="uil-apps"></i> </a>

                <!-- browse apps dropdown -->
<!--                <div uk-dropdown="pos: top;mode:click ; animation: uk-animation-scale-up" class="icon-browse">-->

<!--                    <a href="#" class="icon-menu-item"> <i class="uil-shop"></i> Dashboard </a>-->
<!--                    <a href="#" class="icon-menu-item"> <i class="uil-envelope-alt"></i> Messages </a>-->
<!--                    <a href="#" class="icon-menu-item"> <i class="uil-bookmark"></i> Bookmark </a>-->
<!--                    <a href="#" class="icon-menu-item"> <i class="uil-shopping-basket"></i> Cart </a>-->
<!--                    <a href="#" class="icon-menu-item"> <i class="uil-shield-check"></i> Privacy </a>-->
<!--                    <a href="#" class="icon-menu-item"> <i class="uil-bolt-alt"></i> Upgrade </a>-->
<!--                    <a href="#" class="more-app"> More Features</a>-->
<!--                </div>-->


                <!-- Message  notificiation dropdown -->
                <a href="#" class="opts_icon"> <i class="uil-envelope-alt"></i> <span>4</span> </a>

                <!-- Message  notificiation dropdown -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications large">

                    <!-- notivication header -->
                    <div class="dropdown-notifications-headline">
                        <h4>Messages</h4>
                        <a href="#">
                            <i class="icon-feather-settings" uk-tooltip="title: Message settings ; pos: left"></i>
                        </a>
                    </div>

                    <!-- notification contents -->
                    <div class="dropdown-notifications-content" data-simplebar>

                        <!-- notiviation list -->
                        <ul>
                            <li class="notifications-not-read">
                                <a href="#">
                                        <span class="notification-avatar">
                                            <img src="assets/images/team/team-2.jpg" alt="">
                                        </span>
                                    <div class="notification-text notification-msg-text">
                                        <strong>Alia Joseph</strong>
                                        <p>Okay thanks.. I will be waiting for your answer</p>
                                        <span class="time-ago"> 2 hours ago </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-avatar">
                                            <img src="assets/images/team/team-3.jpg" alt="">
                                        </span>
                                    <div class="notification-text notification-msg-text">
                                        <strong>Stella Johnson</strong>
                                        <p> Alia Joseph just joined Messenger! say Hi.   </p>
                                        <span class="time-ago"> 7 hours ago </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-avatar">
                                            <img src="assets/images/team/team-1.jpg" alt="">
                                        </span>
                                    <div class="notification-text notification-msg-text">
                                        <strong>Alex Dolgove</strong>
                                        <p> Alex will explain you how to keep the structure ....</p>
                                        <span class="time-ago"> 19 hours ago </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-avatar">
                                            <img src="assets/images/team/team-4.jpg" alt="">
                                        </span>
                                    <div class="notification-text notification-msg-text">
                                        <strong>Adrian Mohani</strong>
                                        <p> Okay thanks.. I will be waiting for your answer </p>
                                        <span class="time-ago"> Yesterday </span>
                                    </div>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="dropdown-notifications-footer">
                        <a href="#"> sell all <i class="icon-line-awesome-long-arrow-right"></i> </a>
                    </div>


                </div>


                <!-- notificiation icon  -->
                <a href="#" class="opts_icon"> <i class="uil-bell"></i> <span>3</span> </a>

                <!-- notificiation dropdown -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications">

                    <!-- notivication header -->
                    <div class="dropdown-notifications-headline">
                        <h4>Notifications </h4>
                        <a href="#">
                            <i class="icon-feather-settings"
                               uk-tooltip="title: Notifications settings ; pos: left"></i>
                        </a>
                    </div>

                    <!-- notification contents -->
                    <div class="dropdown-notifications-content" data-simplebar>

                        <!-- notiviation list -->
                        <ul>
                            <li class="notifications-not-read">
                                <a href="#">
                                        <span class="notification-icon bg-soft-danger">
                                            <i class="uil-shopping-basket text-danger"></i></span>
                                    <span class="notification-text"> New Order Recieved
                                            <br> <span class="time-ago"> 9 hours ago </span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-icon bg-soft-success">
                                            <i class="uil-user-plus text-success"></i></span>
                                    <span class="notification-text"> New customer registered
                                            <br> <span class="time-ago"> 19 hours ago </span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-icon bg-soft-danger">
                                            <i class="icon-feather-database text-danger"></i></span>
                                    <span class="notification-text">  Server Limit Reached!
                                            <br> <span class="time-ago"> 12 hours ago </span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-icon bg-soft-primary">
                                            <i class="uil-apps text-primary"></i></span>
                                    <span class="notification-text">
                                            <strong>10+</strong>  Apps ready for update
                                            <br> <span class="time-ago"> Yesterday </span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-icon bg-soft-success">
                                            <i class="uil-user-plus text-success"></i></span>
                                    <span class="notification-text"> New customer registered
                                            <br> <span class="time-ago"> Yesterday </span>
                                        </span>
                                </a>
                            </li>
                        </ul>

                    </div>


                </div>


                <!-- profile -image -->
                <a class="opts_account"> <img src="{{account?.avatar}}" alt=""></a>

                <!-- profile dropdown-->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications small">

                    <!-- User Name / Avatar -->
                    <a href="#">

                        <div class="dropdown-user-details">
                            <div class="dropdown-user-avatar">
                                <a class="opts_account">
                                    <img src="{{account?.avatar}}" alt=""></a>
                            </div>
                            <div class="dropdown-user-name">
                                {{account?.username}} <span> {{account?.wallet}} <i class="icon-feather-dollar-sign"></i> </span>
                            </div>
                        </div>

                    </a>
                    <!-- User menu -->

                    <ul class="dropdown-user-menu">
                        <li><a (click)="goToAcceptProvider()"> <i class="uil-bolt"></i> Accept Provider</a></li>
                        <li><a (click)="goToShowAllAccount()"> <i class="uil-user"></i> All Account </a></li>
                        <li><a (click)="goToShowAllBill()" > <i class="uil-envelope"></i> All Bill </a></li>
                        <li class="menu-divider"></li>
                        <li><a (click)="logout()"> <i class="icon-feather-log-out"></i> Sign Out</a></li>
                    </ul>


                </div>

            </div>

        </header>

    </div>



    <div class="box-gradient-home"></div>

    <!-- content -->
    <div class="page-content">
        <div class="page-content-inner">

            <h2 class="" style="color: #f2999f"> All Orders</h2>
            <nav id="breadcrumbs" class="text-white">
            </nav>


            <div class="card">
                <!-- Card header -->
                <div class="card-header actions-toolbar border-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="d-inline-block mb-0">List</h4>
                        <div class="d-flex">

                            <a href="#" class="btn btn-icon btn-hover  btn-circle" uk-tooltip="filter">
                                <i class="uil-filter"></i>
                            </a>
                            <div uk-dropdown="pos: bottom-right ; mode: click ;animation: uk-animation-scale-up">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-active"><a (click)="getOrderByStatus(5)"> Completed </a></li>
                                    <li class="uk-active"><a (click)="getOrderByStatus(4)"> Rejected </a></li>
                                    <li class="uk-active"><a (click)="getOrderByStatus(3)"> Confirmed </a></li>
                                    <li class="uk-active"><a (click)="getOrderByStatus(2)"> Pending </a></li>
                                    <li class="uk-active"><a (click)="getOrderByStatus(1)"> UnShipped </a></li>
                                </ul>
                            </div>


                            <a href="#" class="btn btn-icon btn-hover  btn-circle" uk-tooltip="More">
                                <i class="uil-ellipsis-h"></i>
                            </a>
                            <div uk-dropdown="pos: bottom-right ; mode: click ;animation: uk-animation-scale-up">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a (click)="getAllOrder()"> Refresh </a></li>
                                    <li><a href="#">Manage</a></li>
                                    <li><a href="#">Setting</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <thead>
                        <tr>
                            <th scope="col">Provider</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Total Time</th>
                            <th scope="col">Total sales</th>
                            <th scope="col">Status</th>
                            <th scope="col"> </th>
                        </tr>
                        </thead>
                        <tbody class="list" *ngFor="let o of listOrderLover">
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <div>
                                        <div class="avatar-parent-child" style="width: max-content">
                                            <img alt="Image placeholder" src="{{o.provider.account.avatar}}"
                                                 class="avatar  rounded-circle">
                                            <span class="avatar-child avatar-badge bg-success"></span>
                                        </div>
                                    </div>
                                    <div class="media-body ml-4">
                                        <a href="#" class="name h6 mb-0 text-sm">{{o.provider.account.fullName}}</a>
                                    </div>
                                </div>
                            </th>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <div>
                                        <div class="avatar-parent-child" style="width: max-content">
                                            <img alt="Image placeholder" src="{{o.account.avatar}}"
                                                 class="avatar  rounded-circle">
                                            <span class="avatar-child avatar-badge bg-success"></span>
                                        </div>
                                    </div>
                                    <div class="media-body ml-4">
                                        <a href="#" class="name h6 mb-0 text-sm">{{o.account.fullName}}</a>
                                    </div>
                                </div>
                            </th>
                            <td> {{o.dateOfOrder}} </td>
                            <td> {{o.orderTime}} </td>
                            <td> ${{o.total}} </td>
                            <td  *ngIf="o.statusOrder == 5"><span class="badge badge-success rounded-pill">Completed</span></td>
                            <td  *ngIf="o.statusOrder == 4"><span class="badge badge-dark rounded-pill">Rejected</span></td>
                            <td  *ngIf="o.statusOrder == 3"><span class="badge badge-success rounded-pill">Confirmed</span></td>
                            <td  *ngIf="o.statusOrder == 2"><span class="badge badge-danger rounded-pill">Pending</span></td>
                            <td  *ngIf="o.statusOrder == 1"><span class="badge badge-warning rounded-pill">UnShipped</span></td>
                            <td class="text-right">
                                <!-- Actions -->
                                <div class="actions ml-3">
                                    <a href="#" class="btn btn-icon btn-hover btn-sm btn-circle"
                                       uk-tooltip="Quick view">
                                        <i class="uil-external-link-alt "></i> </a>
                                    <a href="#" class="btn btn-icon btn-hover btn-sm btn-circle"
                                       uk-tooltip="Edit">
                                        <i class="uil-pen "></i> </a>
                                    <a href="#" class="btn btn-icon btn-hover btn-sm btn-circle"
                                       uk-tooltip="Delete user">
                                        <i class="uil-trash-alt text-danger"></i> </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>


        <!-- footer
           ================================================== -->
        <div class="footer">
            <div class="uk-grid-collapse" uk-grid>
                <div class="uk-width-expand@s uk-first-column">
                    <p>© 2020 <strong>Bootstro</strong>. All Rights Reserved. </p>
                </div>
                <div class="uk-width-auto@s">
                    <nav class="footer-nav-icon">
                        <ul>
                            <li><a href="#"><i class="icon-brand-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-brand-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-brand-youtube"></i></a></li>
                            <li><a href="#"><i class="icon-brand-twitter"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


    </div>

</div>
