<div id="wrapper">


    <!-- header -->
    <div id="main_header" class="header-transparent uk-sticky"
         uk-sticky="top:10; cls-inactive :header-transparent">
        <header>

            <!-- Logo-->
            <i class="header-traiger uil-bars icon-feather-home" uk-toggle="target: #wrapper ; cls: mobile-active" (click)="goToTheHome()">
                <img src="../../../assets/bg-removebg-preview.png" style="width: 110px;height: 70px"></i>


            <div class="h5 uk-hidden@m mr-3 mb-0"> Date Web</div>
            <!-- user icons -->
            <div class="head_user">


                <!-- browse apps  -->

                <a href="#" class="opts_icon uk-visible@s"> <i class="icon-feather-heart"></i></a>
                <!-- cart apps dropdown -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications large">

                    <!-- notification contents -->
                    <div class="dropdown-notifications-content" data-simplebar>

                        <!-- notiviation list -->
                        <ul>
                            <li class="notifications-not-read" >
                                <table class="table">

                                    <tr *ngFor="let o of orderLovers" style="width: 100%">
                                        <td style="text-align: left"><span class="notification-avatar" >
                                            <img src="{{o?.provider?.account?.avatar}}" alt="">
                                        </span></td>
                                        <td style="vertical-align: bottom; text-align: left">{{o?.provider?.account?.fullName}}</td>
                                        <!--                                        <td><button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="createOrderLover()">Order</button></td>-->
                                    </tr>

                                </table>
                            </li>
                        </ul>

                    </div>
                    <div class="dropdown-notifications-footer">
                        <a href="#"> sell all <i class="icon-line-awesome-long-arrow-right"></i> </a>
                    </div>
                </div>

                <!-- Message  notificiation dropdown -->
                <a class="opts_icon"> <i class="uil-envelope-alt"></i></a>

                <!-- notificiation icon  -->
                <a class="opts_icon"> <i class="uil-bell"></i></a>
                <!-- profile -image -->
                <a class="opts_account"> <img src="{{account?.avatar}}" alt=""></a>

                <!-- profile dropdown-->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications small">

                    <!-- User Name / Avatar -->
                    <a href="#">

                        <div class="dropdown-user-details">
                            <div class="dropdown-user-avatar">
                                <a class="opts_account">
                                    <img src="{{account?.avatar}}" alt=""></a>
                            </div>
                            <div class="dropdown-user-name">
                                {{account?.username}} <span> {{account?.wallet}} <i
                                    class="icon-feather-dollar-sign"></i> </span>
                            </div>
                        </div>

                    </a>

                    <!-- User menu -->

                    <ul class="dropdown-user-menu">
                        <li><a class="btn-warning" *ngIf="statusProvider==3"> <i class="uil-user"></i> Wait admin
                            accept!</a></li>
                        <li><a class="btn-success" *ngIf="statusProvider==1"> <i class="uil-user"></i> Ready</a></li>
                        <li><a class="btn-danger" *ngIf="statusProvider==2"> <i class="uil-user"></i> Busy</a></li>
                        <li><a (click)="goToProfile()"> <i class="uil-user"></i> My Profile </a></li>
                        <li><a (click)="goToMyOrder()"> <i class="uil-invoice"></i> My Order </a></li>
                        <li><a (click)="goToMyBill()"> <i class="uil-invoice"></i> My Bill </a></li>
                        <li><a (click)="goToEditProfile()"> <i class="uil-edit"></i> Edit Profile </a></li>
                        <li><a (click)="goToEditProvider()"> <i class="uil-cog"></i> Provider Settings</a></li>
                        <li class="menu-divider"></li>
                        <li><a (click)="logout()"> <i class="icon-feather-log-out"></i> Sing Out</a>
                        </li>
                    </ul>


                </div>

            </div>

        </header>

    </div>
    <div class="box-gradient-home"></div>

    <!-- content -->
    <div class="page-content">
        <div class="page-content-inner">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12 col-12">
                    <h3> Upload Image </h3>
                    <br>
                    <input type="file" #fileUploader (change)="showPreview($event)" multiple="multiple">
                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
                        <div class="card">
                            <div class="card-body pb-0">
                                <div class="row">
                                    <div class="col-md-4 col-6 animate-this mb-2 px-lg-2" *ngFor="let p of imgSrc">
                                        <img style="width: 100%;height: 100%;" src="{{p}}"
                                             alt="avtar img holder">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <button type="button" class="btn" style="background-color: #f2999f; color: white" (click)="summit()">Upload</button>
                    <br>
                </div>
                <div class="col-lg-12 col-12">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5>Latest Photos</h5>
                        </div>
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-md-4 col-6 animate-this mb-2 px-lg-2"
                                     *ngFor="let image of showImgActive">
                                    <img style="width: 100%;height: 100%;" src="{{image.url}}"
                                         class="img-fluid mb-1 rounded"
                                         alt="avtar img holder">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-0" >
                            <div class="row">
                                <div class="col-md-4 col-6 animate-this mb-2 px-lg-2"
                                     *ngFor="let image1 of listMoreImages">
                                    <img style="width: 100%;height: 100%;" src="{{image1.url}}"
                                         class="img-fluid mb-1 rounded"
                                         alt="avtar img holder" *ngIf="showMore" >
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="card" style="    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #e2e6ea;">
                                <button class="text-center" (click)="moreImages()"> View more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>