<div id="wrapper" xmlns:text-align="http://www.w3.org/1999/xhtml">


    <!-- header -->
    <div id="main_header" class="header-transparent" uk-sticky="top:10; cls-inactive :header-transparent">
        <header>

            <!-- Logo-->
<!--            <i class="header-traiger uil-bars" uk-toggle="target: #wrapper ; cls: mobile-active" (click)="goToTheHome()"></i>-->
            <i class="header-traiger uil-bars icon-feather-home" uk-toggle="target: #wrapper ; cls: mobile-active" (click)="goToTheHome()">
                <img src="assets/bg-removebg-preview.png" style="width: 110px;height: 70px"></i>

            <div class="h5 uk-hidden@m mr-3 mb-0"> Bootstro</div>


            <!-- user icons -->
            <div class="head_user">


                <!-- browse apps  -->

                <a href="#" class="opts_icon uk-visible@s"> <i class="icon-feather-heart"></i></a>
                <!-- cart apps dropdown -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications large">

                    <!-- notification contents -->
                    <div class="dropdown-notifications-content" data-simplebar>

                        <!-- notiviation list -->
                        <ul>
                            <li class="notifications-not-read" >
                                <table class="table">

                                    <tr *ngFor="let o of orderLovers" style="width: 100%">
                                        <td style="text-align: left"><span class="notification-avatar" >
                                            <img src="{{o?.provider?.account?.avatar}}" alt="">
                                        </span></td>
                                        <td style="vertical-align: bottom; text-align: left">{{o?.provider?.account?.fullName}}</td>
                                        <!--                                        <td><button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="createOrderLover()">Order</button></td>-->
                                    </tr>

                                </table>
                            </li>
                        </ul>

                    </div>
                    <div class="dropdown-notifications-footer">
                        <a href="#"> sell all <i class="icon-line-awesome-long-arrow-right"></i> </a>
                    </div>
                </div>

                <!-- Message  notificiation dropdown -->
                <a class="opts_icon"> <i class="uil-envelope-alt"></i></a>

                <!-- notificiation icon  -->
                <a class="opts_icon"> <i class="uil-bell"></i></a>

                <!-- profile -image -->
                <a class="opts_account"> <img src="{{account?.avatar}}" alt=""></a>

                <!-- profile dropdown-->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications small">

                    <!-- User Name / Avatar -->
                    <a href="#">

                        <div class="dropdown-user-details">
                            <div class="dropdown-user-avatar">
                                <a class="opts_account">
                                    <img src="{{account?.avatar}}" alt=""></a>
                            </div>
                            <div class="dropdown-user-name">
                                {{account?.username}} <span> {{account?.wallet}} <i
                                    class="icon-feather-dollar-sign"></i> </span>
                            </div>
                        </div>

                    </a>

                    <!-- User menu -->

                    <ul class="dropdown-user-menu">
                        <li><a class="btn-warning" *ngIf="statusProvider==3"> <i class="uil-user"></i> Wait admin
                            accept!</a></li>
                        <li><a class="btn-success" *ngIf="statusProvider==1"> <i class="uil-user"></i> Ready</a></li>
                        <li><a class="btn-danger" *ngIf="statusProvider==2"> <i class="uil-user"></i> Busy</a></li>
                        <li><a class="btn-success" (click)="createProvider()"
                               *ngIf="statusProvider!=1&&statusProvider!=2&&statusProvider!=3"> <i class="uil-bolt"></i>
                            Become Provider</a></li>
                        <li><a (click)="goToProfile()" > <i class="uil-user" ></i> My Profile </a></li>
                        <li><a (click)="goToMyOrder()"> <i class="uil-invoice"></i> My Order </a></li>
                        <li><a (click)="goToMyBill()"> <i class="uil-invoice"></i> My Bill </a></li>
                        <li><a (click)="goToEditProfile()"> <i class="uil-edit"></i> Edit Profile </a></li>
                        <li><a (click)="goToProviderSetting()"> <i class="uil-cog"></i> Provider Settings</a></li>
                        <li class="menu-divider"></li>
                        <li><a (click)="logout()"> <i class="icon-feather-log-out"></i> Sing Out</a>
                        </li>
                    </ul>


                </div>

            </div>

        </header>


    </div>


    <div class="box-gradient-home"></div>

    <!-- content -->
    <div class="page-content">
        <div class="page-content-inner">
            <br>
            <br>
            <h2 style="color: #f2999f">My Profile </h2>

            <br>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Account</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="users-view-image ml-lg-2">
                                </div>


                                <div class="col-12 col-sm-9 col-md-6 col-lg-5">
                                    <table class="table table-borderless table-sm">
                                        <tbody>
                                        <div>
                                            <img src="{{account?.avatar}}"
                                                 style="width: 250px;height: 250px" alt="avatar">
                                        </div>
                                        <button (click)="goToEditProfile()"
                                                class="btn " style="background-color: #f2999f; color: white;">Edit
                                        </button>
                                        </tbody>
                                    </table>
                                </div>


                                <div class="col-12 col-md-12 col-lg-5">
                                    <table class="table table-borderless table-sm ml-0 ml-sm-0 ml-lg-0">
                                        <tbody>
                                        <br>
                                        <br>

                                        <tr>
                                            <td class="font-weight-bold">Full Name</td>
                                            <td>{{account.fullName}} </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Username</td>
                                            <td>{{account.username}}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Email</td>
                                            <td>{{account.email}}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Status</td>
                                            <td>active</td>

                                        </tr>
<!--                                        <tr>-->
<!--                                            <td class="font-weight-bold">Role</td>-->
<!--                                            <td>{{roleString}}</td>-->
<!--                                        </tr>Role-->
                                        <tr>
                                            <td class="font-weight-bold">Gender</td>
                                            <td>{{account.gender}} </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12 col-12 ">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h4>Information</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless table-sm">
                                <tbody>
                                <tr>
                                    <td class="font-weight-bold text-dark">Birth Date</td>
                                    <td>{{account.birthday}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold text-dark">Mobile</td>
                                    <td>+{{account.phoneNumber}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold text-dark">Height</td>
                                    <td>{{account.height}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold text-dark">Weight</td>
                                    <td>{{account.weight}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold text-dark">City</td>
                                    <td>{{account.city}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold text-dark">Country</td>
                                    <td>{{account.country}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold text-dark">Hobby</td>
                                    <td>{{account.hobby}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold text-dark">Description</td>
                                    <td>{{account.description}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


        </div>


        <!-- footer
           ================================================== -->
        <div class="footer">
            <div class="uk-grid-collapse" uk-grid>
                <div class="uk-width-expand@s uk-first-column">
                    <p>© 2020 <strong>Bootstro</strong>. All Rights Reserved. </p>
                </div>
                <div class="uk-width-auto@s">
                    <nav class="footer-nav-icon">
                        <ul>
                            <li><a href="#"><i class="icon-brand-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-brand-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-brand-youtube"></i></a></li>
                            <li><a href="#"><i class="icon-brand-twitter"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


    </div>

</div>


<!-- javaScripts
================================================== -->
<script src="assets/js/uikit.js"></script>
<script src="assets/js/simplebar.js"></script>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap-select.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/main.js"></script>
