<!--nhánh dev-->


<div id="wrapper" xmlns:text-align="http://www.w3.org/1999/xhtml">


    <!-- header -->
    <div id="main_header" class="header-transparent" uk-sticky="top:10; cls-inactive :header-transparent">
        <header>

            <!-- Logo-->
<!--            <i class="header-traiger uil-bars" uk-toggle="target: #wrapper ; cls: mobile-active"></i>-->
            <i class="header-traiger uil-bars icon-feather-home" uk-toggle="target: #wrapper ; cls: mobile-active">
                <img src="assets/bg-removebg-preview.png" style="width: 110px;height: 70px"></i>

<!--            <div class="h5 uk-hidden@m mr-3 mb-0" ><i class="icon-feather-home"></i></div>-->
            <!-- form search-->
            <div class="head_search uk-visible@m">
                <form [formGroup]="formSearch" (change)="searchProvider()">
                    <div class="head_search_cont">
                        <input value="" type="text" class="form-control"
                               placeholder="Search for User" autocomplete="off" formControlName="search">
                        <i class="s_icon uil-search-alt"></i>
                    </div>
                </form>
                <div uk-drop="mode: click" class="header_search_dropdown" style=" background-color:#f2999f;  width: 566px" >
                    <ul *ngFor=" let ps of providersSearch" style="list-style: none">
                        <li>
                            <a (click)="goToProvider(ps.id)">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="{{ps.account.avatar}}" style="width: 100%; height: 100%; border-radius: 50%;">
                                    </div>
                                    <div class="col-3" style="color: white">
                                        {{ps.account.fullName}}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- user icons -->
            <div class="head_user">


                <!-- browse apps  -->

                <a href="#" class="opts_icon uk-visible@s"> <i class="icon-feather-heart"></i></a>
                <!-- cart apps dropdown -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications large">

                    <!-- notification contents -->
                    <div class="dropdown-notifications-content" data-simplebar>

                        <!-- notiviation list -->
                        <ul>
                            <li class="notifications-not-read" >
                                <table class="table">

                                    <tr *ngFor="let o of orderLovers" style="width: 100%">
                                        <td style="text-align: left"><span class="notification-avatar" >
                                            <img src="{{o?.provider?.account?.avatar}}" alt="">
                                        </span></td>
                                        <td style="vertical-align: bottom; text-align: left">{{o?.provider?.account?.fullName}}</td>
<!--                                        <td><button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="createOrderLover()">Order</button></td>-->
                                    </tr>

                                </table>
                            </li>
                        </ul>

                    </div>
                </div>

                <!-- Message  notificiation dropdown -->
                <a class="opts_icon"> <i class="uil-envelope-alt"></i></a>

                <!-- notificiation icon  -->
                <a class="opts_icon"> <i class="uil-bell"></i></a>


                <!-- profile -image -->
                <a class="opts_account"> <img src="{{account?.avatar}}" alt=""></a>

                <!-- profile dropdown-->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications small">

                    <!-- User Name / Avatar -->
                    <a href="#">

                        <div class="dropdown-user-details">
                            <div class="dropdown-user-avatar">
                                <a class="opts_account">
                                    <img src="{{account?.avatar}}" alt=""></a>
                            </div>
                            <div class="dropdown-user-name">
                                {{account?.username}} <span> {{account?.wallet}} <i class="icon-feather-dollar-sign"></i> </span>
                            </div>
                        </div>

                    </a>

                    <!-- User menu -->

                    <ul class="dropdown-user-menu">
                        <li><a class="btn-warning"  *ngIf="statusProvider==3"> <i class="uil-user"></i> Wait admin accept!</a></li>
                        <li><a class="btn-success"  *ngIf="statusProvider==1"> <i class="uil-user" ></i> Ready</a></li>
                        <li><a class="btn-danger"  *ngIf="statusProvider==2"> <i class="uil-user" ></i> Busy</a></li>
                        <li><a class="btn-success" (click)="createProvider()" *ngIf="statusProvider!=1&&statusProvider!=2&&statusProvider!=3"> <i class="uil-bolt" ></i> Become Provider</a></li>
                        <li><a (click)="goToProfile()"> <i class="uil-user"></i> My Profile </a></li>
                        <li><a (click)="goToMyOrder()" > <i class="uil-invoice"></i> My Order </a></li>
                        <li><a (click)="goToMyBill()" > <i class="uil-invoice"></i> My Bill </a></li>
                        <li><a (click)="goToEditProfile()"> <i class="uil-edit"></i> Edit Profile </a></li>
                        <li><a (click)="goToProviderSetting()"> <i class="uil-cog"></i> Provider Settings</a></li>
                        <li class="menu-divider"></li>
                        <li><a (click)="logout()"> <i class="icon-feather-log-out"></i> Sing Out</a>
                        </li>
                    </ul>


                </div>

            </div>

        </header>

    </div>



    <div class="box-gradient-home"></div>
    <br>
    <br>


    <!-- content -->
    <div class="page-content">
        <div class="page-content-inner">
<!--            <p class="text-white"> Providers</p>-->

            <nav id="breadcrumbs" class="text-white">
                <ul>
                    <li style="font-weight: 700; font-size: 20px; color: #f2999f"> Top 4 View Girl Providers</li>
                </ul>
            </nav>



            <div class="row">
                <div class="col-md-3 col-sm-6" *ngFor="let pr of providers">
                    <div class="card uk-inline-clip text-center animate-this">
                        <img src="{{pr?.account?.avatar}}" alt="" style="height: 320px; width: 290px">
                        <div class="p-3">
                            <h4 class="mb-2" data-bs-toggle="modal" data-bs-target="#myModal" (click)="findProviderById(pr.id)">{{pr?.account?.fullName}}</h4>
                            <div >
                                <p><i class="uil-eye"></i> {{pr.view}}</p>
<!--                                <table style="width: 100%">-->
<!--                                    <tbody *ngFor="let pp of provisionproviders">-->
<!--                                    <tr *ngIf="pp.provider.id== pr.id &&pp.provision.category.id==1">-->
<!--                                        <td style="text-align: left">{{pp.provision.name}}</td>-->
<!--                                        <td style="text-align: right">Free</td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
                                <p class="text-muted uk-text-bold my-0"
                                >{{pr.price}} $/ giờ</p>
                            </div>

                            <div class="text-warning">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


<!--            <nav aria-label="Page navigation example" class="my-lg-4">-->
<!--                <ul class="pagination justify-content-center">-->
<!--                    &lt;!&ndash;                    <li class="page-item disabled">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <li class="page-item"><a class="page-link" href="#">1</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <li class="page-item"><a class="page-link" href="#">2</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <li class="page-item"><a class="page-link" href="#">3</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <li class="page-item">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <a class="page-link" href="#">Next</a>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                </ul>-->
<!--            </nav>-->


        </div>
        <div class="page-content-inner">
            <h5 class="title-header-left" style="font-weight: 700; font-size: 20px; color:#f2999f">Top 12 Seller Providers</h5>
            <br>

            <div class="row">

                <div class="col-md-3 col-sm-6" *ngFor="let provider of providers1 | paginate: { itemsPerPage: 12, currentPage: page, totalItems: total} ">
                    <div class="card uk-inline-clip text-center animate-this">
                        <img src="{{provider.account.avatar}}" alt="" style="height: 320px; width: 300px">
                        <div class="p-3">
                            <h4 class="mb-2" data-bs-toggle="modal" data-bs-target="#myModal" (click)="findProviderById(provider.id)">{{provider.account.fullName}}</h4>
                            <div >
                                <p><i class="uil-eye"></i> {{provider.view}}</p>
<!--                                <table style="width: 100%">-->
<!--                                    <tbody *ngFor="let pp of provisionproviders1">-->
<!--                                    <tr *ngIf="pp.provider.id== provider.id && provider.account.id==provider.account.id &&pp.provision.category.id==1">-->
<!--                                        <td style="text-align: left">{{pp.provision.name}}</td>-->
<!--                                        <td style="text-align: right">Free</td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
                                <p class="text-muted uk-text-bold my-0">{{provider.price}} $/ giờ</p>
                            </div>

                            <div class="text-warning">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <nav aria-label="Page navigation example" class="my-lg-4">
                <ul class="pagination justify-content-center">
                    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                    <!--                    <li class="page-item disabled">-->
                    <!--                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>-->
                    <!--                    </li>-->
                    <!--                    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
                    <!--                    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
                    <!--                    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                    <!--                    <li class="page-item">-->
                    <!--                        <a class="page-link" href="#">Next</a>-->
                    <!--                    </li>-->
                </ul>
            </nav>



        </div>


    </div>

    <!-- content 12 provider hot-->



        <!-- footer
           ================================================== -->
        <div class="footer">
            <div class="uk-grid-collapse" uk-grid>
                <div class="uk-width-expand@s uk-first-column">
                    <p>© 2023 <strong>Lover</strong>. All Rights Reserved. </p>
                </div>
                <div class="uk-width-auto@s">
                    <nav class="footer-nav-icon">
                        <ul>
                            <li><a href="#"><i class="icon-brand-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-brand-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-brand-youtube"></i></a></li>
                            <li><a href="#"><i class="icon-brand-twitter"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>


<!-- The Modal-->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--             Modal body-->
            <div class="modal-body">
                <section style="background-color: #eee;">
                    <div class="container py-5">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card mb-4">
                                    <div class="card-body text-center">
                                        <img src="{{provider?.account?.avatar}}" class="rounded-circle img-fluid" style="width: 150px;">
                                        <h5 class="my-3"><i class="uil-eye"></i> {{provider.view}}</h5>
                                        <p class="text-muted mb-4">Start at: {{provider?.account?.dateOfRegister}}</p>
                                        <div class="d-flex justify-content-center mb-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p class="mb-0">Full Name</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p class="text-muted mb-0">{{provider?.account?.fullName}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p class="mb-0">Height</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p class="text-muted mb-0">{{provider?.account?.height}} cm</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p class="mb-0">Weight</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p class="text-muted mb-0">{{provider?.account?.weight}} kg</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p class="mb-0">Date of Birth</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p class="text-muted mb-0">{{provider?.account?.birthday}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p class="mb-0">Address</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p class="text-muted mb-0">{{provider?.account?.country}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="increaseViewProviderById(provider.id)">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="goToProvider(provider.id)">View More</button>
            </div>

        </div>
    </div>
</div>



