
<div id="wrapper">


    <!-- header -->
    <div id="main_header" class="header-transparent uk-sticky"
         uk-sticky="top:10; cls-inactive :header-transparent">
        <header>

            <!-- Logo-->
            <i class="header-traiger uil-bars icon-feather-home" uk-toggle="target: #wrapper ; cls: mobile-active" (click)="goToTheHome()">
                <img src="assets/bg-removebg-preview.png" style="width: 110px;height: 70px"></i>

            <div class="h5 uk-hidden@m mr-3 mb-0"> Date Web</div>
            <!-- user icons -->
            <div class="head_user">


                <!-- browse apps  -->

                <a href="#" class="opts_icon uk-visible@s"> <i class="icon-feather-heart"></i></a>
                <!-- cart apps dropdown -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications large">

                    <!-- notification contents -->
                    <div class="dropdown-notifications-content" data-simplebar>

                        <!-- notiviation list -->
                        <ul>
                            <li class="notifications-not-read" >
                                <table class="table">

                                    <tr *ngFor="let o of orderLovers" style="width: 100%">
                                        <td style="text-align: left"><span class="notification-avatar" >
                                            <img src="{{o?.provider?.account?.avatar}}" alt="">
                                        </span></td>
                                        <td style="vertical-align: bottom; text-align: left">{{o?.provider?.account?.fullName}}</td>
                                        <!--                                        <td><button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="createOrderLover()">Order</button></td>-->
                                    </tr>

                                </table>
                            </li>
                        </ul>

                    </div>
                    <div class="dropdown-notifications-footer">
                        <a href="#"> sell all <i class="icon-line-awesome-long-arrow-right"></i> </a>
                    </div>
                </div>

                <!-- Message  notificiation dropdown -->
                <a class="opts_icon"> <i class="uil-envelope-alt"></i></a>

                <!-- notificiation icon  -->
                <a class="opts_icon"> <i class="uil-bell"></i></a>

                <!-- profile -image -->
                <a class="opts_account"> <img src="{{account?.avatar}}" alt=""></a>

                <!-- profile dropdown-->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications small">

                    <!-- User Name / Avatar -->
                    <a href="#">

                        <div class="dropdown-user-details">
                            <div class="dropdown-user-avatar">
                                <a class="opts_account">
                                    <img src="{{account?.avatar}}" alt=""></a>
                            </div>
                            <div class="dropdown-user-name">
                                {{account?.username}} <span> {{account?.wallet}} <i
                                    class="icon-feather-dollar-sign"></i> </span>
                            </div>
                        </div>

                    </a>

                    <!-- User menu -->

                    <ul class="dropdown-user-menu">
                        <li><a class="btn-warning" *ngIf="statusProvider==3"> <i class="uil-user"></i> Wait admin
                            accept!</a></li>
                        <li><a class="btn-success" *ngIf="statusProvider==1"> <i class="uil-user"></i> Ready</a></li>
                        <li><a class="btn-danger" *ngIf="statusProvider==2"> <i class="uil-user"></i> Busy</a></li>
                        <li><a (click)="goToProfile()"> <i class="uil-user"></i> My Profile </a></li>
                        <li><a (click)="goToMyOrder()"> <i class="uil-invoice"></i> My Order </a></li>
                        <li><a (click)="goToMyBill()"> <i class="uil-invoice"></i> My Bill </a></li>
                        <li><a (click)="goToEditProfile()"> <i class="uil-edit"></i> Edit Profile </a></li>
                        <li><a (click)="goToProviderSetting()"> <i class="uil-cog"></i> Provider Settings</a></li>
                        <li class="menu-divider"></li>
                        <li><a (click)="logout()"> <i class="icon-feather-log-out"></i> Sing Out</a>
                        </li>
                    </ul>


                </div>

            </div>

        </header>

    </div>
    <div class="box-gradient-home"></div>

    <!-- content -->
    <div class="page-content">
        <div class="profile">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="page-content-inner">
                <div class="profile-details">
                    <div class="left-side">
                        <div class="profile-image">
                            <a class="opts_account" href="#">
                                <img  src="{{account?.avatar}}" alt="">
                            </a>
                        </div>
                        <div class="profile-details-info">
                            <h3 style="color: #f2999f"> {{account?.fullName}} </h3>
                        </div>
                    </div>
                    <div class="right-side uk-visible@m">
                        <div class="btn-subscribe">
                            <button *ngIf="account?.statusVip==1" (click)="requestVip()" class="btn btn-warning btn-sm">
                                <i class="icon-feather-user"></i> Up Account VIP </button>
                            <button *ngIf="account?.statusVip==2" class="btn btn-danger btn-sm">
                                <i class="icon-feather-user"></i> Account VIP </button>
                            <button  *ngIf="account?.statusVip==3" class="btn btn-success btn-sm">
                                <i class="icon-feather-user"></i> Request Sended </button>
                        </div>
                    </div>
                </div>

                <div class="nav-profile" k-sticky="offset:61;media : @s">
                    <nav class="responsive-tab">
                        <ul>
                            <li class="uk-active"><a class="active" href="#0">Your Profile</a></li>
                        </ul>
                    </nav>
                </div>
            </div>


        </div>
        <div class="page-content-inner">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <img src="{{provider?.account?.avatar}}" class="rounded" alt="Cinque Terre">
                    <div>
                        <h3>{{provider?.account?.fullName}} <div class="text-warning">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                        </div></h3>
                    </div>
                    <h3 *ngIf="provider?.statusProvider==1">
                        <button type="button" class="btn btn-success" (click)="setStatusProvider(provider.id)">
                            Active
                        </button>
                    </h3>
                    <h3 *ngIf="provider?.statusProvider==2" (click)="setStatusProvider(provider.id)">
                        <button type="button" class="btn btn-danger">
                            Busy
                        </button>
                    </h3>
                    <div class="card">
                        <div class="card-body">
                            <table style="width: 100%; ">
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top;"><b>Joined </b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top;word-wrap: break-word; text-align: left">{{provider?.account?.dateOfRegister}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Lives</b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left;word-wrap: break-word;">{{provider?.account?.city}}
                                        , {{provider?.account?.country}} </td>

                                </tr>
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Email</b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left;word-wrap: break-word;">{{provider?.account?.email}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Birthday</b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left;word-wrap: break-word;">{{provider?.account?.birthday}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Gender</b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left;word-wrap: break-word;">{{provider?.account?.gender}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Height</b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left;word-wrap: break-word;">{{provider?.account?.height}}
                                        cm
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Weight</b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left;word-wrap: break-word;">{{provider?.account?.weight}}
                                        kg
                                    </td>
                                </tr>
                            </table>
                            <div class="row">

                                <div class="col-2">
                                    <a href="{{provider.linkFB}}" type="button" class="btn btn-facebook btn-icon-label" style="color: #fff;
    background-color: #3b5999;
    border-color: #3b5999;
    -webkit-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15);
align-content: center">
                                                                    <span class="btn-inner--icon">
                                                                    <i class="icon-brand-facebook-f"></i>
                                                                  </span>
                                        <span class="btn-inner--text" >Facebook</span>
                                    </a>
                                </div>

                                <!--                                <a class="btn btn-icon btn-facebook btn-circle" style="background-color: #3b5999;">-->
                                <!--                                    <i class="icon-brand-facebook-f" style="color: #fff"></i></a>-->
                            </div>



                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-12">
                    <div>
                        <div class="card">
                            <div class="card-header bg-light">
                                <h4> Basic Service </h4>
                            </div>
                            <form class="uk-child-width-1-2@s uk-grid-small p-4 uk-grid" uk-grid="">
                                <div class="uk-grid-margin" *ngFor="let service of allServicesOfProvider">
                                    <div class="form-check"
                                         *ngIf="service.statusServiceProvider==1&&service.provision.category.id==1">
                                        <input class="form-check-input" type="checkbox" value=""
                                               checked disabled>
                                        <label class="form-check-label">
                                            {{service.provision.name}}
                                        </label>
                                    </div>
                                </div>
                            </form>
                            <hr class="mb-0">
                        </div>
                        <div class="card mt-4">
                            <div class="card-header bg-light">
                                <h4> More Service </h4>
                            </div>
                            <form class="uk-child-width-1-2@s uk-grid-small p-4 uk-grid" uk-grid="">
                                <div class="uk-first-column">
                                    <h5 class="uk-text-bold mb-2"> Extends </h5>
                                    <div class="uk-grid-margin" *ngFor="let service of allServicesOfProvider">
                                        <div class="form-check"
                                             *ngIf="service.statusServiceProvider==1&&service.provision.category.id==2">
                                            <input class="form-check-input" type="checkbox"
                                                   (click)="changeFreeAndExtend(service.id)" value=""
                                                   checked>
                                            <label class="form-check-label">
                                                {{service.provision.name}}
                                            </label>
                                        </div>
                                        <div class="form-check"
                                             *ngIf="service.statusServiceProvider==2&&service.provision.category.id==2">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   (click)="changeFreeAndExtend(service.id)">
                                            <label class="form-check-label">
                                                {{service.provision.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-first-column">
                                    <h5 class="uk-text-bold mb-2"> Extends </h5>
                                    <div class="uk-grid-margin" *ngFor="let service of allServicesOfProvider">
                                        <div class="form-check"
                                             *ngIf="service.statusServiceProvider==1&&service.provision.category.id==3">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   (click)="changeFreeAndExtend(service.id)"
                                                   checked>
                                            <label class="form-check-label">
                                                {{service.provision.name}}
                                            </label>
                                        </div>
                                        <div class="form-check"
                                             *ngIf="service.statusServiceProvider==2&&service.provision.category.id==3">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   (click)="changeFreeAndExtend(service.id)">
                                            <label class="form-check-label">
                                                {{service.provision.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr class="mb-0">
                        </div>
                    </div>
                    <div class="card" style="    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #e2e6ea;">
                        <form [formGroup]="formChangePrice" (submit)="changePrice()">
                            <input formControlName="price">
                            <br>
                            <button  type="submit" class="btn" style="background-color: #f2999f; color: white; margin: 0 0 10px 0">Set Price</button>
                            <br>
                        </form>

                    </div>
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5>Latest Photos</h5>
                        </div>
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-md-4 col-6 animate-this mb-2 px-lg-2" *ngFor="let image of showImgActive">
                                    <img style="width: 100%;height: 100%;" src="{{image.url}}" class="img-fluid mb-1 rounded"
                                         alt="avtar img holder">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="card" style="    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #e2e6ea;">
                                <button (click)="goToEditImages()" type="button" class="btn" style="background-color: #f2999f; color: white">Edit Images</button>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


