<div id="wrapper" *ngIf="!check">

    <!-- Content
    ================================================== -->
    <div uk-height-viewport="offset-top: true; offset-bottom: true" class="uk-flex uk-flex-middle">
        <div class="row w-100">
            <div class="col-12 col-md-5 col-xl-5 my-5 m-auto">

                <div class="text-center">

                    <!-- Preheading -->
                    <h6 class="text-uppercase text-muted mb-4">
                        Error
                    </h6>

                    <!-- Heading -->
                    <h1 class="display-5 mb-3">
                        Account verification failed! 😭
                    </h1>


                    <!-- Subheading -->
                    <p class="text-muted mb-4">
                        Please check it again!
                    </p>

                    <!-- Button -->
                    <a (click)="goToRegister()" class="btn btn-primary">
                        Register!
                    </a>

                </div>

            </div>
        </div> <!-- / .row -->
    </div>

    <!-- / .Content end -->

</div>
<div id="wrapper2" *ngIf="check">

    <!-- Content
    ================================================== -->
    <div uk-height-viewport="offset-top: true; offset-bottom: true" class="uk-flex uk-flex-middle">
        <div class="row w-100">
            <div class="col-12 col-md-5 col-xl-5 my-5 m-auto">

                <div class="text-center">

                    <!-- Preheading -->
                    <h6 class="text-uppercase text-muted mb-4">
                        Welcome!
                    </h6>

                    <!-- Heading -->
                    <h1 class="display-5 mb-3">
                        Authentication successful!
                    </h1>


                    <!-- Subheading -->
                    <p class="text-muted mb-4">
                        Click to behind button to login.
                    </p>

                    <!-- Button -->
                    <a (click)="goToLogin()" class="btn btn-primary">
                        Login
                    </a>

                </div>

            </div>
        </div> <!-- / .row -->
    </div>

    <!-- / .Content end -->

</div>