<div id="wrapper">


    <!-- header -->
    <div id="main_header" class="header-transparent uk-sticky"
         uk-sticky="top:10; cls-inactive :header-transparent">
        <header>

            <!-- Logo-->
            <i class="header-traiger uil-bars icon-feather-home" uk-toggle="target: #wrapper ; cls: mobile-active"
               (click)="goToTheHome()">
                <img src="assets/bg-removebg-preview.png" style="width: 110px;height: 70px"></i>

            <div class="h5 uk-hidden@m mr-3 mb-0"> Date Web</div>

            <!-- user icons -->
            <div class="head_user">


                <!-- browse apps  -->

                <a href="#" class="opts_icon uk-visible@s"> <i class="icon-feather-heart"></i></a>
                <!-- cart apps dropdown -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications large">

                    <!-- notification contents -->
                    <div class="dropdown-notifications-content" data-simplebar>

                        <!-- notiviation list -->
                        <ul>
                            <li class="notifications-not-read">
                                <table class="table">

                                    <tr *ngFor="let o of orderLovers" style="width: 100%">
                                        <td style="text-align: left"><span class="notification-avatar">
                                            <img src="{{o?.provider?.account?.avatar}}" alt="">
                                        </span></td>
                                        <td style="vertical-align: bottom; text-align: left">{{o?.provider?.account?.fullName}}</td>
                                        <!--                                        <td><button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="createOrderLover()">Order</button></td>-->
                                    </tr>

                                </table>
                            </li>
                        </ul>

                    </div>

                </div>

                <!-- Message  notificiation dropdown -->
                <a class="opts_icon"> <i class="uil-envelope-alt"></i></a>

                <!-- notificiation icon  -->
                <a class="opts_icon"> <i class="uil-bell"></i></a>

                <!-- profile -image -->
                <a class="opts_account"> <img src="{{account?.avatar}}" alt=""></a>

                <!-- profile dropdown-->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications small">

                    <!-- User Name / Avatar -->
                    <a href="#">

                        <div class="dropdown-user-details">
                            <div class="dropdown-user-avatar">
                                <a class="opts_account">
                                    <img src="{{account?.avatar}}" alt=""></a>
                            </div>
                            <div class="dropdown-user-name">
                                {{account?.username}} <span> {{account?.wallet}} <i
                                    class="icon-feather-dollar-sign"></i> </span>
                            </div>
                        </div>

                    </a>

                    <!-- User menu -->

                    <ul class="dropdown-user-menu">
                        <li><a class="btn-warning" *ngIf="statusProvider==3"> <i class="uil-user"></i> Wait admin
                            accept!</a></li>
                        <li><a class="btn-success" *ngIf="statusProvider==1"> <i class="uil-user"></i> Ready</a></li>
                        <li><a class="btn-danger" *ngIf="statusProvider==2"> <i class="uil-user"></i> Busy</a></li>
                        <li><a class="btn-success" (click)="createProvider()"
                               *ngIf="statusProvider!=1&&statusProvider!=2&&statusProvider!=3"> <i class="uil-bolt"></i>
                            Become Provider</a></li>
                        <li><a (click)="goToProfile()"> <i class="uil-user"></i> My Profile </a></li>
                        <li><a (click)="goToMyOrder()"> <i class="uil-invoice"></i> My Order </a></li>
                        <li><a (click)="goToMyBill()"> <i class="uil-invoice"></i> My Bill </a></li>
                        <li><a (click)="goToEditProfile()"> <i class="uil-edit"></i> Edit Profile </a></li>
                        <li><a (click)="goToProviderSetting()"> <i class="uil-cog"></i> Provider Settings</a></li>
                        <li class="menu-divider"></li>
                        <li><a (click)="logout()"> <i class="icon-feather-log-out"></i> Sing Out</a>
                        </li>
                    </ul>


                </div>

            </div>

        </header>

    </div>

    <div class="box-gradient-home" style="height: 70px"></div>

    <!-- content -->
    <div class="page-content">
        <div class="page-content-inner">


            <div class="row">

                <div class="col-lg-3 col-12">
                    <!--                    -->
                    <!--                    anh aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
                    <img src="{{provider?.account?.avatar}}" class="rounded" alt="Cinque Terre">
                    <h2>Profile</h2>
                    <div class="card">
                        <div class="card-body">
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Joined </b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left">{{provider?.account?.dateOfRegister}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Lives</b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left">{{provider?.account?.city}}
                                        , {{provider?.account?.country}} </td>

                                </tr>
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Email</b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left">{{provider?.account?.email}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Birthday</b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left">{{provider?.account?.birthday}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Gender</b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left">{{provider?.account?.gender}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Height</b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left">{{provider?.account?.height}}
                                        cm
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50px; height: 50px; vertical-align: top"><b>Weight</b></td>
                                    <td style="width: 70px; height: 50px; vertical-align: top; text-align: left">{{provider?.account?.weight}}
                                        kg
                                    </td>
                                </tr>
                            </table>
                            <div class="row">

                                <div class="col-2">
                                    <a href="{{provider.linkFB}}" type="button" class="btn btn-facebook btn-icon-label"
                                       style="color: #fff;
    background-color: #3b5999;
    border-color: #3b5999;
    -webkit-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15);
align-content: center">
                                                                    <span class="btn-inner--icon">
                                                                    <i class="icon-brand-facebook-f"></i>
                                                                  </span>
                                        <span class="btn-inner--text">Facebook</span>
                                    </a>
                                </div>

                                <!--                                <a class="btn btn-icon btn-facebook btn-circle" style="background-color: #3b5999;">-->
                                <!--                                    <i class="icon-brand-facebook-f" style="color: #fff"></i></a>-->
                            </div>


                        </div>
                    </div>
                </div>

                <div class=" col-lg-6 col-12">
                    <div>
                        <h3>{{provider?.account?.fullName}} ({{provider?.account?.username}})</h3>
                    </div>
                    <h3 *ngIf="provider?.statusProvider==1">
                        <button type="button" class="btn btn-success">
                            Active
                        </button>
                    </h3>
                    <h3 *ngIf="provider?.statusProvider==2">
                        <button type="button" class="btn btn-danger">
                            Don't Active
                        </button>
                    </h3>

                    <br>

                    <div>
                        <div>
                            <p><i class="uil-eye"> </i> {{provider?.view}} views</p>
                        </div>
                        <hr>
                        <div>
                            <p class="h4">Service</p>
                            <div style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;box-sizing: border-box;    display: table;">
                                <div class="p-2 border; btn" style="margin: 0 8px 6px 0; background-color: #f2999f; color: white;
    border-radius: 10px;
    float: left;
    min-width: 100px;
    text-align: center;
"
                                     *ngFor="let pp of allServicesOfProvider">
                                    {{pp?.provision?.name}}
                                </div>

                            </div>
                            <hr>
                        </div>
                        <div>
                            <p class="h4">Description</p>
                            <p style='word-wrap:break-word; '>{{provider?.account?.description}}</p>
                        </div>
                        <hr>
                        <p class="h4">Rating </p>
                        <div>
                            <span class="fa fa-star star-active mx-1"></span>
                            <span class="fa fa-star star-active mx-1"></span>
                            <span class="fa fa-star star-active mx-1"></span>
                            <span class="fa fa-star star-active mx-1"></span>
                            <span class="fa fa-star star-inactive mx-1"></span>
                        </div>
                        <p>({{countComment}} reviews)</p>
                        <!-- Viết comment -->
                        <a data-bs-toggle="collapse" data-bs-target="#demo">
                                <span class="icon-line-awesome-pencil">

                                    </span>
                            Write your comment</a>
                        <div *ngFor="let o of listOrderDone; index as i">
                            <span *ngIf="i == 1"></span>
                            <div *ngIf="o.statusOrder == 5">
                                <div id="demo" class="collapse">
                                    <form [formGroup]="rateForm" (submit)="send()">
                                        <div class="stars">
                                            <input class="star star-5" id="star-5" type="radio" name="star"
                                                   (click)="rate5()"/>
                                            <label style="width: 20%" class="star star-5"
                                                   for="star-5"></label>
                                            <input class="star star-4" id="star-4" type="radio" name="star"
                                                   (click)="rate4()"/>
                                            <label class="star star-4" for="star-4"></label>
                                            <input class="star star-3" id="star-3" type="radio" name="star"
                                                   (click)="rate3()"/>
                                            <label class="star star-3" for="star-3"></label>
                                            <input class="star star-2" id="star-2" type="radio" name="star"
                                                   (click)="rate2()"/>
                                            <label class="star star-2" for="star-2"></label>
                                            <input class="star star-1" id="star-1" type="radio" name="star"
                                                   (click)="rate1()"/>
                                            <label class="star star-1" for="star-1"></label>
                                        </div>
                                        <textarea formControlName="comment">
                                     </textarea>
                                        <br>

                                        <button class="btn" type="submit"
                                                style="margin-left: 90%; background-color: #f2999f"> Send
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                          rel="stylesheet"
                          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
                          crossorigin="anonymous">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-20" *ngFor="let l of listComment">
                                <div class="media g-mb-30 media-comment">
                                    <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
                                         src="{{l.account.avatar}}" alt="Image Description">
                                    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                                        <div class="g-mb-15">
                                            <h5 class="h5 g-color-gray-dark-v1 mb-0">{{l.account.fullName}}</h5>

                                            <div *ngIf="l.rate == 5">
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                            </div>
                                            <div *ngIf="l.rate == 4">
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 "></span>
                                            </div>
                                            <div *ngIf="l.rate == 3">
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 "></span>
                                                <span class="fa fa-star star-active mx-1 "></span>
                                            </div>
                                            <div *ngIf="l.rate == 2">
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="fa fa-star star-active mx-1 "></span>
                                                <span class="fa fa-star star-active mx-1 "></span>
                                                <span class="fa fa-star star-active mx-1 "></span>
                                            </div>
                                            <div *ngIf="l.rate == 1">
                                                <span class="fa fa-star star-active mx-1 checked"></span>
                                                <span class="g-color-gray-dark-v4 g-font-size-12">5 days ago</span>
                                            </div>

                                            <p>{{l.comment}}</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="card" style="    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #e2e6ea;">
                        <h4><b>{{provider?.price}} $/h</b></h4>
                        <div class="text-warning">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i>
                            <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i> ({{averageScore}})
                        </div>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#myModal"
                                class="btn btn-danger" style="width: 100%;
    height: 54px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 10px 0 0;
    border: 0;
    text-transform: uppercase; background-color: #f0564a; color: #fff;">Order
                        </button>
                        <button type="button" class="btn btn-outline-dark" style="width: 100%;
    height: 54px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 10px 0 0;
    border: 0;
    text-transform: uppercase; color: #354052;
    background-color: #fff;
    border: 1px solid #e2e6ea;">Chat
                        </button>
                        <br>

                    </div>

                    <div class="card">
                        <div class="card-header bg-light">
                            <h5>Latest Photos</h5>
                        </div>
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-md-4 col-6 animate-this mb-2 px-lg-2"
                                     *ngFor="let image of showImgActive ">
                                    <img style="width: 100px;height: 100px;" src="{{image.url}}"
                                         class="img-fluid mb-1 rounded"
                                         alt="avtar img holder">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-center"><a> View more </a></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
    <!-- footer
               ================================================== -->
    <div class="footer">
        <div class="uk-grid-collapse" uk-grid>
            <div class="uk-width-expand@s uk-first-column">
                <p>© 2023 <strong>Lover</strong>. All Rights Reserved. </p>
            </div>
            <div class="uk-width-auto@s">
                <nav class="footer-nav-icon">
                    <ul>
                        <li><a href="#"><i class="icon-brand-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-brand-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-brand-youtube"></i></a></li>
                        <li><a href="#"><i class="icon-brand-twitter"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="formOrder" (submit)="createOrderLover()">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" style="margin-left: 36%">Order Lover</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col">Homie:</div>
                            <div class="col" style="margin-left: 20%">{{provider?.account?.fullName}}</div>
                            <div class="col">

                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col">Start day:</div>
                            <div class="col">
                                <input type="datetime-local" [min]="today" max="2024-12-31T00:00"
                                       formcontrolname="startOrder" id="startOrder">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col">Order Time:</div>
                            <div class="col">
                                <fieldset formGroupName="selectTime">
                                    <select class="form-select form-select-sm" (change)="caculatorTotal()"
                                            formControlName="orderTime">
                                        <option value="1">1 hour</option>
                                        <option value="2">2 hours</option>
                                        <option value="3">3 hours</option>
                                        <option value="4">4 hours</option>
                                        <option value="5">5 hours</option>
                                        <option value="6">6 hours</option>
                                        <option value="7">7 hours</option>
                                        <option value="8">8 hours</option>
                                        <option value="9">9 hours</option>
                                        <option value="10">10 hours</option>
                                        <option value="11">11 hours</option>
                                        <option value="12">12 hours</option>
                                        <option value="12">13 hours</option>
                                        <option value="14">14 hours</option>
                                        <option value="15">15 hours</option>
                                        <option value="16">16 hours</option>
                                        <option value="17">17 hours</option>
                                        <option value="18">18 hours</option>
                                        <option value="19">19 hours</option>
                                        <option value="20">20 hours</option>
                                        <option value="21">21 hours</option>
                                        <option value="22">22 hours</option>
                                        <option value="23">23 hours</option>
                                        <option value="24">24 hours</option>

                                    </select>
                                </fieldset>
                            </div>

                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col">Total</div>
                            <div class="col">
                                <input formControlName="total" readonly>
                            </div>
                            $
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" (click)="closeOrderLover()" class="btn"
                            style="background-color: #fbc0bc; color: white"
                            data-bs-dismiss="modal">Add Favorites List
                    </button>
                    <button type="submit" class="btn" data-bs-dismiss="modal"
                            style="background-color: #f2999f; color: white">Order
                    </button>


                </div>
            </div>

        </div>

    </div>

</form>


